.notify{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 6px 10px;
  color: rgb(255,255,255);
  bottom: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  border-radius: 2px;
}
.show{display: block;}
.hide{display: none;}
