*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}

body{
  width: 980px;
  margin: 0 auto;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  color: #333;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.input{
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .username{
    color: #333;
    border-radius: 2px;
    border:1px solid #aaa;
  }
  .add{
    padding: 2px 10px;
    color: #eee;
    background-color: #0088cc;
    border-radius: 2px;
    border: none;
    margin-left: 10px;
    &:hover{
      color: #fff;
    }
  }
}

.sort-wrapper{
  font-size: 12px;
  margin-top: 10px;
  span{
    cursor: pointer;
    margin: 0 0 0 5px;
    &.active{
      color: #0088cc
    }
  }
}


ul.cards-wrapper{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    width: 22%;
    margin-right: 4%;
    margin-top: 20px;
    &:nth-child(4n){
      margin-right: 0
    }
    &.empty{
      margin: 50px auto;
    }
    .name{
      margin: 5px 2px 5px;
      font-size: 15px;
    }
    .location, .followers{
      margin: 0 2px 4px;
      font-size: 12px;
    }
    &:hover {
      border: 1px solid #0088cc;
      img {
        filter: contrast(100%);
      }
      .name, .location, .followers{
        text-decoration: underline;
        text-decoration-color: #0088cc;
      }
    }

    img{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      filter: contrast(70%);
      overflow: hidden;
      position: relative;
      transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
    }
    .remove{
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      padding: 2px 5px;
      &:hover{
        cursor: pointer;
        color: #000;
      }
    }
  }
}
